<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageData" value="DefaultEndpointsProtocol=https;AccountName=hp007;AccountKey=NP1S6sUOZISQspMFTUSk8g5Lpp6KzrlRdnnTV0xcGH1jmMYHyqmtfdMs9yBm5WxPjP4OJNda2Rj7z7wZUxPoow==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>